{
    "semi": true,
    "singleQuote": false,
    "trailingComma": "all",
    "tabWidth": 4,
    "printWidth": 100,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "auto",
    "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
    "importOrder": [
        "^(react|next)(.*)$",
        "<THIRD_PARTY_MODULES>",
        "",
        "^@/(.*)$",
        "",
        "^[./]",
        "",
        "<TYPES>",
        "<TYPES>^[./]"
    ],
    "importOrderParserPlugins": ["typescript", "jsx"],
    "importOrderTypeScriptVersion": "5.0.0"
}
